/* font connection */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* common features */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
/* banner started*/
.full-width-container{
    display: flex;
    padding: 5%;
    background-color: #2D25A0;;
}
.half-width{
    width: 100%;
    margin-top: 50px;
}
.half-width h1{
    font-weight: bold;
    font-size: 64px;
    line-height: 80px;
    color: #FFFFFF;
    margin-bottom: 27px;
}
.half-width a ,.highlight-details a{
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color:  #FFFFFF;
    padding: 10px 56px 10px 24px;
    background-color: #E02C6D;
}
.half-width a:hover ,.half-width a:hover .fas, .highlight-details a:hover,.highlight-details .fas:hover{
    color: #E02C6D;
    background: #FFFFFF;
}
.half-width .fas, .highlight-details .fas{
    color: #FFFFFF;
    margin-left: 12px;
}
.half-width img{
    width: 100%;
    transition: transform 2s;
}
.half-width img:hover{
    transform: scale(1.15);
    
}
/* banner ended */
/* players started */
.container{
    display: flex;
    margin: 70px 210px 165px 180px;
}
.palyers{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
    

}
.player{
    box-shadow: 0px 0px 40px 0px #00000026;

}
.player-image img{
    width: 300px;
    height: 256px;
    margin: 15px 15px 16px 15px;
}
.player-details{
    margin: 0px 15px 33px 15px;
}
.player-details h4{
    font-weight: bold;
    font-size: 28px;
    line-height: 40px;
    color:  #18191F;
    margin-top: 0px;
    margin-bottom: 10px;
}
.player-details p, .half-width p{
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #6C6C6C;
    margin: 0px;
}
/* players ended */
/* highlights started */
.highlights-section{
    display: flex;
    margin-left: 182px;
    margin-right: 98px;
    margin-bottom: 158px;
}
.highlights{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 27px;
}
.highlight-details{
    padding-right: 66px;
}
.highlight-details h4{
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    color: #0A0826;
    margin-top: 30px;
    margin-bottom: 0px;
}
#space-between-p{
    margin-bottom: 24px;
}
.highlight-img img{
    width: 567px;
    height: 427px;
}
/* highlights ended */
/* fixtures started */
.title-section{
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    color: rgb(224, 44, 109);
    text-align: center;
}
.fixtures-container{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.matchs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
}
.match{
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 40px 0px #00000026;
    transition: transform 2s;
}
.match:hover{
    transform: scale(1.1);
    z-index: 99;
}
.match h4{
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    margin: 0px;
}
.team1{
    display: flex;
    align-items: center;
    margin-right: 20px;
    padding-left: 20px;
}
.team1 .flag img{
    margin-right: 5px;
}
.fixture{
    margin: 0px 20px;
}
.fixture p{
    text-align: center;
}
.team2{
    display: flex;
    align-items: center;
    margin-right: 20px;
    padding-left: 20px;
}
.team2 .flag img{
    margin-left: 5px;
}
/* fixtures ended */
/* footer started */
.footer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-logo img{
    width: 483.87px;
    height: 110px;
}
.footer-icons .fab{
    margin: 0px 14px;
    color: #969BAB;
}
/* footer ended */

/* Media Queries */
/* Moblie Phone  */
@media only screen and (max-width:688px) {
    .full-width-container{
        flex-direction: column;
        flex-wrap: wrap;
        width: 90%;
        
    }
    .half-width{
        margin-top: 60px;
    }
    .half-width h1{
        font-weight: bold;
        font-size: 42px;
        line-height: 50px;
    }
    
    .container{
        flex-wrap: wrap;
        margin-left: 20px;
        margin-bottom: 20px;

    }
    .palyers{
        grid-template-columns: repeat(1, 1fr);
    }
    .highlights-section{
        flex-wrap: wrap;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
        
    }
    .highlights{
        grid-template-columns: repeat(1, 1fr);
        
    }
    .highlight-details ,.highlight-img img{
        width: 100%;
        height: 100%;
        padding-right: 0px;
    }
    .highlight-details h4{
        font-weight: bold;
        font-size: 30px;
        line-height: 40px;
    }
    .matchs{
        grid-template-columns: repeat(1,1fr);

    }
    .match{
        width:89%;
        margin: 0px 20px;
    }
    .fixture{
        margin: 0px -20px;
    }
    .team1{
        margin-right: 0px;
        padding-left: 0px;
    }
    .team1 .flag img{
        margin-right: 5px;
    }
    .team2{
        margin-right: 0px;
        padding-left: 0;
    }
    .team2 .flag img{
        margin-left: 0px;
    }


    .footer-container{
        margin-left: 0px;
        margin-right: 20px;
        margin-bottom: 187px;
        flex-direction: column;
    }
    .footer-logo img{
        width: 271px;
        height: 63px;
    }
}